.root a, p {
    font-size: 15px;
    line-height: calc(15px * 1.5);
    text-decoration: none;
}

.container {
    padding: 10px;
}

.channels {
    position: fixed;
    left: 0;
    top: 0;
    width: 240px;
    height: 100vh;
    background-color: mediumpurple;
}

.channels-title {
    height: 60px;
    background-color: rebeccapurple;
    color: white;
    font-size: 24px;
}

.channels * {
    color: white;
}

.channels ul li:hover {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 7px;
}

.actionbar {
    background-color: white;
    width: 100%;
    height: 60px;
    border-bottom: solid 1px #aaa;
}

.actionbar-title:before {
    content: '# ';
}

.actionbar-title {
    color: #555;
    float: left;
}

.notes {
    margin-left: 240px;
    width: calc(100% - 240px);
    min-height: 100vh;
    background-color: #f0f0f0;
}

.note {
    vertical-align: top;
    width: 240px;
    min-height: 240px;
    background-color: yellow;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
}

.note-title {
    min-height: 45px;
    background-color: rgb(235, 235, 0);
    font-size: 20px;
}

.note-message {
    font-size: 15px;
    line-height: calc(15px * 1.5);
}

.inputs {
    position: absolute;
    bottom: 0;
    height: 160px;
    width: calc(100% - 240px);
    background: gray;
}

.btn-big {
    background-color: cornflowerblue;
    border: none;
    font-size: 20px;
    border-radius: 7px;
    height: 40px
}